@page
@model PRN231PE_FA23_665511_taipdse172357_Pages.Pages.SilverJewelryPages.IndexModel

@{
    ViewData["Title"] = "Index";
}



@if (HttpContext.Session.GetString("Role") == "1" || HttpContext.Session.GetString("Role") == "2")
{

    @if (HttpContext.Session.GetString("Role") == "1")
    {
                <p>
                    <a asp-page="Create">Create New</a>
                </p>
    }

    @if (Model.Message != null)
    {
                <div class="alert alert-info" role="alert">
            @Model.Message
                </div>
    }

    <h1>Silver Jewelry</h1>


    
    <form method="get">
        <div class="form-group">
            <label for="SearchName">Search</label>
            <input type="text" asp-for="SearchName" class="form-control" id="SearchName" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Jewelries[0].SilverJewelryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jewelries[0].SilverJewelryDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jewelries[0].MetalWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jewelries[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jewelries[0].ProductionYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jewelries[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jewelries[0].Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Jewelries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SilverJewelryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SilverJewelryDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetalWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @if (HttpContext.Session.GetString("Role") == "1")
                        {
                            <p>
                                <a asp-page="./Edit" asp-route-id="@item.SilverJewelryId">Edit</a> |
                                <a asp-page="./Delete" asp-route-id="@item.SilverJewelryId">Delete</a>
                            </p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
        <h1>You dont have permission</h1>
}